.video-one{
    border-radius: 20px;
    background-image: url('/public/image/mm.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 500px;
}

.dev-features{
    border: solid 1px;
    width: 300px;
    height: 150px;
    margin-top: 3%;
    border-radius: 20px;
    background-image: url('/public/image/mpse.png');
    background-repeat: no-repeat;
    width: 245px;
    background-color: rgba(0, 0, 0, 1);
    
}
.use-case{
    border: solid 1px;
    width: 320px;
    height: 150px;
    margin-top: 3%;
    border-radius: 20px;
    background-image: url('/public/image/mtime.jpeg');
    background-repeat: no-repeat;
    width: 245px;
    background-color: rgba(0, 0, 0, 1);

}
.positives{
    border: solid 1px;
    width: 320px;
    height: 150px;
    margin-top: 3%;
    border-radius: 20px;
    background-image: url('/public/image/M.png');
    background-repeat: no-repeat;
    width: 245px;
    background-color: rgba(0, 0, 0, 1);
}
.video-three{
    border: solid 1px;
    width: 320px;
    height: 500px;
    border-radius: 20px;
    background-color: 
    rgba(243, 183, 8, 1);
    background-image: url('/public/image/mlive.jpeg');
    background-repeat: no-repeat;

}
.all{
    display: flex;
    margin-top: 5%;
    flex-direction:row;
    justify-content: space-evenly;
}
.icon{
  width: 10%;
  height: 10%;
  padding-left: 99px;
padding-top: 20px;  


 
}
.icon-t{
    padding: 100px;
    margin-top: 120px;
    width: 10%;
  height: 10%;
}
.link-one{
    padding: 70px;
    
}

